body {
    margin: 0px;
    padding: 0px;
    background-color: white;
}

.united {
    position: absolute;
    top: 0px;
    height: 70px;
    margin-top: 30px;
}

#logo img {
    top: 0px;
    position: absolute;
    right: 0px;
    height: 20px;
    margin-top: 50px;
}

.teamviewer {
    margin-right: 40px;
}

#title {
    text-align: center;
    font-size: 50px;
    color: black;
}

#sub-title {
    text-align: center;
    font-size: 25px;
    font-style: italic;
    color: black;
}

#holland {
    color: rgb(255, 123, 0);
}

#manchester {
    color: red;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: baseline;
}

.eth img {
    border-radius: 20px;
    height: 500px;
    margin: 10px;
}

