* {
    text-align: right;
}

body {

}

/* select all p that inside h2 */
h2 p { 
    color: #AA4139;
    text-align: center;
    border: 2px solid rgba(255, 176, 170, 0.5);
    cursor: pointer;
}

/* learn element > element 
element + element*/

p {
    color: pink;
}

p {
    color: green;
}

li {
    list-style: none;
    display: inline-block;
}

.webtext {
    border: 5px dashed green;
}

.active {
    color: red;
}

#div1 {
    background: rgba(0, 0, 255, 0.2);
}

#div2 {
    background: rgba(255, 0, 0, 0.2)
}

.lorem p{
    text-align: center;
    /* text-decoration: underline; */
    /* text-decoration: line-through; */
    /* text-transform: uppercase; */
    line-height: 30px;
    /* font-style: italic; */
    font-weight: bold;
    font-size: 60%;
    font-family: 'times new roman', Georgia;
    font-family: 'Poiret One', cursive;
    color: red;
}

img {
    float: right;
}

footer {
    clear: both;
    text-align: center;
}